@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
   --font-family-base: 'Roboto', sans-serif; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.custom-line-height {
  line-height: 1.2; /* Adjust this value as needed */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-family-base); /* Apply the font family */
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Example CSS */
.floating-nav {
  display: flex;
  flex-direction: column;
}

.floating-nav .nav-item {
  display: flex;
  align-items: center;
}

.floating-nav .nav-item img {
  display: none; /* Hide images on mobile */
}

.floating-nav .nav-item span {
  display: inline-block; /* Ensure text is displayed */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .floating-nav {
    flex-direction: column;
  }

  .floating-nav .nav-item img {
    display: none; /* Hide images on mobile */
  }

  .floating-nav .nav-item span {
    display: inline-block; /* Ensure text is displayed */
  }
}